<!DOCTYPE html>
<html>
<head>
	<meta content="text/html" charset="UTF-8" />
	<title>Formulario de Superheroes</title>
	<!-- scripts -->
	<script src="../static/vendor/js/jquery1.11.0.min.js"></script>
	<script src="../static/vendor/js/jquery.min.js"></script>
	<script src="../static/vendor/js/bootstrap.min.js"></script>

	<!-- css-->
	<link rel="stylesheet" href ="../static/css/style.css">
	<link rel="stylesheet" href="../static/vendor/css/bootstrap.min.css">
	<link rel="stylesheet" href ="../static/vendor/css/bootstrap-theme.min.css">
</head>
<body>
	<div class="container main">
		<form class="form-signin" action="login" method="POST">
			<h2 class="form-signin-heading">Ingresa, Superhero!</h2>
			<input type="text" class="input-block-level" placeholder="Nombre de Superhero" name="superhero">
			<input type="password" class="input-block-level" placeholder="Contraseña" name="pass">
			<button class="btn btn-large btn-primary" type="submit">Entrar</button>
		</form>
	</div>
</body>
</html>